<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>Raahat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
    

</head>
<style type="text/css">
  body{
    background-image: url("http://jacobswellappeal.org/wp-content/uploads/2014/11/donate-medicines.jpg");
     background-size:cover;
      }
   
</style>

<body >
   <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="certificate icon"></i>Raahat</a></div>
                
                <ul class="nav navbar-nav navbar-right">
                        
                         <a href="/logout" class="item"  style="float: right">Logout</a>
                </ul>
            </div>
              </div>
            </div>


      
         <div style="margin-top: 100px">
            <a class="ui button black inverted" style="font-size: 30px;width: 220px; height: 30px; color: green; text-align: center; margin-left: 30%; padding-top: 5px; padding-bottom: 15px;" href="/<%=id%>/buy">Buy</a>
             <a class="ui button black inverted" style="font-size: 30px;width: 220px; height: 30px; color: green; text-align: center;padding-top: 5px; padding-bottom: 15px;"" href="/<%=id%>/sell">Sell</a>
            
         </div>
             <% include partials/footer%>