<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
    

</head>
<style type="text/css">
  body{
    background-image: url("http://prioryfarmnursery.co.uk/wp-content/uploads/2016/02/shutterstock_377699248.jpg");
      }
   
</style>

<body >
   <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="certificate icon"></i>Enquiry</a></div>
                
                <ul class="nav navbar-nav navbar-right">
                        
                         <a href="/logout" class="item"  style="float: right">Logout</a>
                </ul>
            </div>
              </div>
            </div>


      
         <div style="margin-top: 100px">
            <a class="ui button black inverted" style="color: green" href="/<%=id%>/fertilisers">Buy</a>
             <a class="ui button black inverted" style="color: green" href="/<%=id%>/machines">Sell</a>
            
         </div>
             <% include partials/footer%>