<% include partials/header1%>
<h1 style="margin-top:10%">This is not in your prescription</h1>
<img src= "https://upload.wikimedia.org/wikipedia/commons/7/7f/Lolol.png"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<% include partials/footer%>